[ req ]
default_bits           = 4096
default_keyfile        = key.pem
default_md             = sha256
distinguished_name     = req_distinguished_name
prompt                 = no
x509_extensions        = v3_ca 
encrypt_key            = no

[ req_distinguished_name ]
C                      = CA
ST                     = MeState
L                      = MeCity
O                      = MeCompanyName
CN                     = localhost
emailAddress           = info@example.com

[ v3_ca]
basicConstraints       = critical, CA:true
