[Unit]
Description=goTunneLS TLS proxy
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/goTunneLS -c /usr/local/etc/goTunneLS/config.json
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
